/* .link-home {
    display: block;
    width: 100px;
    height: 50px;
    border: 1px solid lightslategray;
    background-color: lightskyblue;
    outline: none;
    margin-top: 10px;
    margin-left: 60px;
    align-content: center;
    text-align: center;
    border-radius: 10px;
}

.area-tabelas {
    margin: auto;
    margin-top: 40px;
    margin-left: 40px;
}
.tabela-notas {
    display: block;
    margin: 5px;
    border: 2px solid lightslategray;
    width: 300px;
    height: 70px;
    border-radius: 10px;
}

.tabela-celula {
    display: block;
    margin-top: 8px;
    margin-left: 10px;
    height: fit-content;
    width: fit-content;    
} */