/* Contact */

.map {
    width: 50%;
    height: 100vh;
    border: none;
    margin: 0;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1;
}

@media (max-width: 640px) {

    .map {
        position: relative;
        width: 100%;
    }
}