.btn-group button {
    background-color: #4CAF50; 
    border: 1px solid green; 
    color: white;
    padding: 10px 24px; 
    cursor: pointer; 
    float: left;
    outline: none;
    margin: 10px;
    width: 130px;
    height: 70px;
    border-radius: 10px;
    font-size: 20px;
    box-shadow: 15px 15px 15px rgba(0,0,0,0.5);
  }
  
  .btn-group button:not(:last-child) {
    border-right: none;
  }
  
  
  .btn-group:after {
    content: "";
    clear: both;
    display: table;
  }
  
  
  .btn-group button:hover {
    background-color: #3e8e41;
  }