
.card-login-cadastro{
    margin-top: 30vh;
    margin-left: 40vw;
    background-color: #141414;
    height: 250px;
    width: 350px;
    padding: 20px;
}

.titulo-cadastro-login {
    color: whitesmoke !important;
}