.botao {
  margin: 0;
  color: whitesmoke !important;
  background-color:  #141414;
  border: none;
  padding: 5px;
  font-size: 10px;
  border: 4px solid  #141414;
  font-size: 20px;
  border-radius: 10px;
  width: 150px;
  outline: none;
}

.botao:hover {
  border: 4px solid darkred;
  cursor: pointer;
}

.botao-header-primeiro {
  margin-left: 10px;
}

.login-cadastro {
  margin-top: 20px;
}
