.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  /* background-color: #282c34; */
  background-image: linear-gradient(to bottom right, purple, black);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.btn {
  border-style: none;
  font-size: 1em;
  border-radius: 3px;
  padding: 8px;
  cursor: pointer;
  height: 60px;
  width: 150px;
  border-style: outset;
  box-shadow: 15px 15px 15px rgba(0,0,0,0.5);
  border-radius: 50%;
  font-size: 20px;
  text-align: center;
  outline: none;

}

.verde {
  background-color: green;
  border-color: green;
  color: white;
}

.azul {
  background-color: blue;
  border-color: blue;
  color: white;
}

.vermelho {
  background-color: red;
  border-color: red;
  color: white;
}

.botoes {
  margin-top: 10px;
}

.botoes .btn {
  margin: 0 15px;
}

.flash {
  width: 100%;
  cursor: pointer;
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.invisivel {
  display: none;
}

.borda-vermelha {
  border-color: red;
}

.descricao-nota span {
    width: 100%;
    text-align: center;
}

.descricao-nota input {
  width: 150px;
  margin-left: 10px;
}

.fade-in {
  animation: fadein 1s linear forwards;
}

.fade-out {
  animation: fadeout 1s linear forwards;
}

@keyframes fadein { from { opacity: 0; } to { opacity: 1; visibility: visible; } }
@keyframes fadeout { from { opacity: 1; } to { opacity: 0; visibility: hidden; } }

/**********************************************/

.mensagem-erro {
  color: red;
  font-size: 12px;
}

.erro {
 border-color: red; 
}