:root {
  --primary: #141414;
  --light: #F3F3F3;
  --dark: 	#686868;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #61dafb;
}

.netflixLogo {
  object-fit: cover;
  width: 100px;
  max-height: 100%;
  padding-left: 30px;
  padding-top: 0px;  
}

.netflixLogo img {  
  height: 35px;     
}

#logo {
  color: #E50914;  
  margin: 0; 
  padding: 0; 
}

.main-nav {
  margin-top: -35px;
}

.titulo-card {
  color: whitesmoke;
}

.campo-buscar {
  width: 200px;
  height: 40px;
  border-radius: 5px;
  border-style: none;
  background-color: #686868;
  outline: none;
}

.flash {
  width: 100%;
  cursor: pointer;
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
}

.invisivel {
  display: none;
}

.borda-vermelha {
  border-color: red;
}

.descricao-nota span {
    width: 100%;
    text-align: center;
    z-index: 100;
}

.descricao-nota input {
  width: 150px;
  margin-left: 10px;
}

.fade-in {
  animation: fadein 3s linear forwards;
}

.fade-out {
  animation: fadeout 3s linear forwards;
}

@keyframes fadein { from { opacity: 0; } to { opacity: 1; visibility: visible; } }
@keyframes fadeout { from { opacity: 1; } to { opacity: 0; visibility: hidden; } }

/**********************************************/

.mensagem-erro {
  color: red;
  font-size: 12px;
  z-index: 100;
  margin-left: 10px;
}

.erro {
 border-color: red; 
}

.vermelho {
  background-color: red;
  border-color: red;
  color: white;
}

.verde {
  background-color: green;
  border-color: green;
  color: white;
}