
.conjunto-cards {
    margin-left: 100px;
    margin-top: 100px;
    align-items: center;
    justify-content: center;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 300px;
    height: 400px;
    display: inline-block;
    margin: 20px 20px;
    background-color:  #141414;
    border: 4px solid rgba(0, 0, 0, 0.1);
  }
  
  .card:hover {
    box-shadow: 10px 10px 10px 10px rgba(20, 20, 20,0.5);
    border: 4px solid darkred;
  }
  
  .container {
    padding: 2px 16px;
    margin-top: 10px;
  }

  .card-img {
    width: 100%;
    height: 40%;
  }

  .card-detalhes {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 750px;
    height: 600px;
    display: inline-block;
    margin: 20px 20px;
    margin-top: 120px;
    background-color:  #141414;
    border: 4px solid darkred;
    box-shadow: 10px 10px 10px 10px rgba(20, 20, 20,0.5);
  }

  
  li {
    float: left;
    list-style-type: none;
  }

  
  