.botao-header {
    margin-left: 0;
    border: 0;
    margin-top: 15px;
    background-color: white;
    font-size: 15px;
    color: gray;
    outline: none;
    cursor: pointer;
}

.botao-duvida {
    height: 30px;
    width: 40px;
    background-image: url(../imagens/icones/iconeDuvidas.jpeg);
    background-size: auto;
    background-repeat: no-repeat;
}

.botao-salmon{
    background-color: #f05b78;
    height: 40px;
    width: 105px;
    margin-top: 6px;
    color: white;
    border-radius: 5px;
}

.botao-colecao {
    float: right;
    background-color: white;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 15px;
    color: gray;
}

.botao-formulario {
    outline: none;
    cursor: pointer;
    width: 100%;
    border: 0;
    margin: 0;
    font-size: 20px;
    margin-bottom: 15px;
}

.botao-formulario-facebook {
    height: 40px;
    width: 100%;
    border: 0;
    border-radius: 5px;
    margin: 0;
    margin-top: 10px;
    margin-bottom: 10px;
    outline: none;
    cursor: pointer;
    background-color: dodgerblue;
    color: white;
    font-size: 20px;
}

.botao-formulario-esqueci-senha {
    display: flex;
    float: right;
    background-color: white;
    border: 0;
    outline: none;
    cursor: pointer;
    color: #f05b78;
    font-size: 15px;
}

.botao-formulario-navegar-registro {
    background-color: white;
    border: 0;
    outline: none;
    cursor: pointer;
    color:#f05b78 !important;
    font-size: 20px;
    margin-bottom: 15px;
    text-decoration: none;
}

.botao-descricao-imagem {
    border: 0;
    background-color: white;
    font-size: 15px;
    color: gray;
    padding: 10px;
    outline: none;
    cursor: pointer;
}

.botao-descricao-compra-conjunto {
    border: 0;
    background-color: white;
    color: gray;
    outline: none;
    cursor: pointer;
    margin-bottom: 10px;
}

.botao-descricao-comprar {
    background-color: #f05b78;
    display: flex;
    float: left;
    width: 555px;
    height: 50px;
    border: 0;
    border-radius: 5px;
    align-items: center;
    margin-bottom: 10px;
    outline: none;
    cursor: pointer;
}

.botao-descricao-comprar span {
    font-size: 20px;
    margin-left: 240px;
}

.botao-descricao-sacola {
    display: flex;
    float: left;
    width: 555px;
    height: 50px;
    border: 0;
    border-radius: 5px;
    align-items: center;
    background-color: white;
    border: 1px solid lightgrey;
    outline: none;
    cursor: pointer;
    margin-bottom: 10px;
}


.botao-descricao-sacola span {
    font-size: 20px;
    margin-left: 185px;
}

.botao-descricao-ofertar {
    display: flex;
    float: left;
    width: 555px;
    height: 50px;
    border: 0;
    border-radius: 5px;
    align-items: center;
    background-color: white;
    border: 1px solid lightgrey;
    outline: none;
    cursor: pointer;
}


.botao-descricao-ofertar span {
    font-size: 20px;
    margin-left: 230px;
}

.botao-informativo-interno {
    outline: none;
    height: 30px;
    border: none;
    background-color: white;
    cursor: pointer;
    padding: 0;
}

.botao-enviar-comentario {
    background-color: white;
}

.botao-navegacao-responsivo {
    background-color: white;
    font-size: 20px;
    border: 0;
    outline: none;
    cursor: pointer;
    margin-top: 10px;
    padding: 10px;
}

.botao-navegacao-responsivo-salmao {
    border: 0;
    border-radius: 5px;
    color: white;
    background-color: #f05b78;
}

.botao-seguir-vendedor-detalhes {
    border: 1px solid lightgray;
    border-radius: 5px;
    background-color: white;
    font-size: 25px;
    height: 45px;
    margin-top: 3px;
    outline: none;
    cursor: pointer;
    margin-left: 35px;
    transition: 0.5s;
}

.botao-seguir-vendedor-detalhes:hover {
    background-color: #f05b78;
    color: white !important;
    
}

.ant-btn-primary {
    background-color: white;
    border: 1px solid lightgray;
    color: #f05b78;
}

.ant-btn-primary:hover {
    background-color:  #f05b78;
    border: 1px solid lightgray;
    color: white;
}

.botao-curtir {
    height: 30px;
    width: 40px;
    padding: 0;
    margin-left: 4px;
    background-image: url(../imagens/icones/mao.svg);
    background-size: contain;
    background-repeat: no-repeat;
    margin-top: 20px;
}

.botao-comentarios {
    height: 30px;
    width: 40px;
    background-image: url(../imagens/icones/pedido.svg);
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: 4px;
    margin-top: 10px;
}

.botao-footer {
    background-color: white;
    border: 1px solid lightgray;
    color: #f05b78;
    border-radius: 5px;
    font-size: 20px;
    padding: 10px;
    outline: none;
    cursor: pointer;
    transition: 0.5s;
}

.botao-footer:hover {
    background-color: #f05b78;
    color: white;
}

@media (max-width: 1200px) {
    .botao-descricao-imagem {
        display: none;
        margin-left: -3000px;
    }

    .botao-descricao-comprar {
        width: 85%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .botao-descricao-comprar span {
        margin-left: 0;
    }

    .botao-descricao-sacola {
        width: 85%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    
    .botao-descricao-sacola span {
        margin-left: 0;
    }
    
    .botao-descricao-ofertar {
        width: 85%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    
    .botao-descricao-ofertar span {
        margin-left: 0;
    }

    .botao-informativo-interno {
        display: none;
        margin-left: -3000px;
    }


    
}
