.footer {
    display: flex;
    float: left;
    margin-top: 60px;
    border-top: 1px solid lightgray;
    padding: 60px;
    margin-left: 14vw;
    margin-right: 18vw;
}

.logo-footer {
    height: 40px;
    width: 40px;
}

.prefooter-informacoes {
    margin-left: 14vw;
    margin-right: 18vw;
    padding: 20px;
    margin-top: 70vh;
    border-top: 1px solid lightgray;
    padding-bottom: 0;
}

@media (max-width: 1200px) {
    .footer {
        margin-left: 0;
        margin-right: 0;
    }

    .logo-footer-container {
        width: 100%;
    }

    .prefooter-informacoes {
        margin-left: 0;
        margin-right: 0;
        padding: 20px;
        margin-top: 10vh;
        font-size: 10px;
    }
}

