.formulario {
    height: 600px;
    margin-left: 20vw;
    margin-right: 20vw;
}

.formulario-container {
    height: 600px;
    margin-left: 15vw;
    margin-right: 15vw;
}

.formulario-cadastro {
    height: 600px;
}

.formulario-interno {
    margin-left: 5vw;
    margin-right: 5vw;
    margin-top: 50px;
}

.formulario-input {
    display: block;
    width: 98.5%;
    height: 5vh;
    margin: 0;
    margin-top: 20px;
    margin-bottom: 20px;
    outline: none;
    text-align: center;
    font-size: 30px;
}

.formulario-row-divisor {
    margin-top: 15px;
    margin-left: 2px;
    margin-right: 2px;
    margin-bottom: 15px;
}

.formulario-divisor {
    border-bottom: 1px solid lightgrey;
}

.formulario-divisor-palavra {
    margin: 0;
    padding: 0;
}

.formulario-checkbox {
    display: flex;
    float: left;
    margin-bottom: 15px;
    margin-left: 0;
    padding: 0;
}

.formulario-textos-input {
    display: flex;
}

@media (max-width: 768px) {

    .formulario {
        height: 600px;
        margin-left: 0;
        margin-right: 0;
        padding: 0;
    }

    .formulario-container {
        margin: 0;
        margin-bottom: 15px;
    }

    .formulario-input {
        width: 95%;
        margin-top: 20px;
        margin-bottom: 20px;
    }
}