.botoes-container-navegacao-responsivo {
    display: none;
    margin-left: -3000px;
}

.primeiro-row-botao-navegacao-responsivo {
    margin-top: 20px;
}

@media (max-width: 1200px) {
    .botoes-container-navegacao-responsivo {
        display: block;
        margin-left: 0;
    }
}