.descricao-container {
    margin-top: 15px;
    height: 700px;
    width: 1135px;
    margin-left: 60px;
}

.descricao-container-imagem {
    padding: 0;
    width: 500px;
    margin-right: 50px;
    margin-left: 15px;
}

.descricao-imagem {
    height: 550px;
    border-radius: 5px;
    padding: 0;
}

.descricao-opcoes-compra {
    height: 350px;
    padding: 0;
    padding-top: 10px;
}

.descricao-compra-conjunto-botoes-primeiro {
    display: flex;
    float: left;
}

.descricao-compra-nome-produto {
    display: flex;
    float: left;
}

.descricao-compra-conjunto-botoes-segundo {
    display: flex;
    float: left;
}

.descricao-compra-conjunto-botoes-segundo span {
    font-size: 15px;
    margin: 0;
}

.descricao-compra-valores h3 {
    display: flex;
    float: left;
    margin-top: 2px;
}

.descricao-compra-valores span {
    display: flex;
    float: left;
    background-color: #f05b78;
    border-radius: 5px;
    padding: 5px;
    margin-left: 15px;
}

.descricao-compra-valores p {
    display: block;
    float: left;
    font-size: 15px;
    padding: 0;
    margin-top: 0;
}

.descricao-detalhes-produto {
    border: 1px solid lightgrey;
    width: 550px;
    border-radius: 5px;
    margin-top: 15px;
    padding: 5px;
}

.row-superior-descricao-detalhes-produto {
    border-bottom: 1px solid lightgrey;
    padding: 10px;
}

.row-inferior-descricao-detalhes-produto {
    padding: 10px;
}

.descricao-detalhes-produto-span {
    display: block;
}

.descricao-detalhes-descricao {
    display: flex;
    float: left;
    margin-top: 15px;
}

.descricao-detalhes-descricao span {
    display: flex;
    float: left;
    margin-top: -35px;
    text-align: left;
}

.descricao-detalhes-comentarios-container {
    margin-top: -110px;
    width: 500px;
    height: 335px;
    margin-left: 355px;
    padding: 0;
}

.container-comentarios-interno {
    display: flex;
    float: left;
    border: 1px solid lightgrey;
    margin-top: 2px;
    margin-bottom: 2px;
    padding: 10px;
    border-radius: 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.descricao-detalhes-vendedor-container {
    margin-top: 15px;
    border: 1px solid lightgrey;
    width: 555px;
    height: 260px;
    padding: 10px;
    margin-left: 60px;
    margin-bottom: 40px;
    border-radius: 5px;
}

.row-vendedor {
    margin-bottom: 5px;
    border-bottom: 1px solid lightgrey;
    padding: 5px;
}

.row-informacao-vendedor {
    padding: 5px;
}

.informacao-vendedor-cabecario {
    font-size: 13px;
}

.interna-informativo {
    display: flex;
    float: left;
    margin-top: 60px;
    margin-bottom: 30px;
    margin-left: 315px;
    padding: 0;
}

.interna-informativo-container-botao {
    display: flex;
    float: left;
    margin-left: 340px;
}

.pagina-interna-colecao {
    margin-left: 340px;
    margin-top: 0;
    width: 60%;
}

.informacoes-nome-vendedor {
    display: flex;
    float: left;
}

.informacoes-nome-vendedor-estado-cidade {
    display: flex;
    float: left;
    margin-left: 102px;
    margin-top: -15px;
}

.paragrafo-comentarios-texto {
    margin-left: 10px;
    margin-top: 5px;
}

@media (min-width: 1900px) {
    .descricao-container {
        margin-left: 350px;
    }
}

@media (max-width: 1200px) {
    .descricao-container {
        margin-top: 15px;
        height: 700px;
        width: 100%;
        margin-left: 0;
    }

    .descricao-container-imagem {
        padding: 0;
        width: 100%;
        margin-right: 0;
        margin-left: 8.5vw;
    }

    .descricao-opcoes-compra {
        width: 100%;
        margin-top: 20px;
        margin-left: 8.5vw;
    }

    .descricao-detalhes-comentarios-container {
        width: 85%;
        margin-top: 420px;
        margin-left: 8.5vw;
        display: block;
    }

    .descricao-detalhes-produto {
        width: 85%;
    }    

    .descricao-detalhes-descricao {
        width: 85%;
        margin-bottom: 20px;
    }

    .descricao-detalhes-vendedor-container {
        width: 85%;
        margin-left: 8.5vw;
        height: auto;
        margin-top: 120px;
    }

    .interna-informativo {
        margin-left: 8.5vw;
        width: 100%;
    }

    .interna-informativo-container-botao {
        display: none;
        margin-left: -3000px;
    }

    .pagina-interna-colecao {
        margin-left: 8.5vw;
        width: 85%;
    }

    .informacoes-nome-vendedor-estado-cidade {
        margin-left: 78px;
    }
}
