body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color:  black !important;
  width: 100%;
  min-height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

p {
  color: whitesmoke;
}

html, body {
  margin: 0;
  padding: 0;
  color: whitesmoke;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  line-height: 1.4;
  background-color:  black !important;
}

header {
  padding: 20px 20px 0 20px;
  position: absolute;
  top: 0;
  background-color:#141414;
  width: 100%;
  margin-bottom: 0px;  
  height: 80px;
}

a {
  color: whitesmoke !important;
}

input {
  outline: none;
  width: 100%;
  text-align: center;
}
