body {
    background-image: url("../img/nova-ashbell-sc01-03.jpg");
}

ul {
    font-size: 15px;
    margin-top: 2px;
    margin-bottom: 0px;
}

.pokedex {
    border-style: outset;
    background-color: brown;
    width: 800px;
    height: 520px;
    border-radius: 40px;
    box-shadow: 15px 15px 15px rgba(0,0,0,0.5);
}

.inputID {
    margin-top: 15%;
    width: 60%;
    height: 40px;
    margin-left: 75px;
    margin-right: 20px;
    font-size: larger;
    text-align: center;
    border-radius: 10px;
    outline: none;
}

.botao {
    margin-top: 5%;
    width: 60%;
    height: 40px;
    margin-left: 77px;
    margin-right: 20px;
    font-size: larger;
    border-radius: 10px;
    outline: none;
    background-color: darkslategray;
    color: white;
}

.imagem-pokemon {
    border-style: outset;
    height: 100px;
    background-color: darkseagreen;
    margin: 5px;
    margin-left: 60%;
    border-radius: 50%;
    width: 30%;
    position: relative;
    z-index: 10;
    margin-top: -320px;
}

.thumb {
    margin-top: 2%;
    margin-left: 5%;
    
}

.borda-de-coluna {
    border-style: outset;
    height: 520px;
    border-top: 0;
    border-bottom: 0;
    border-left: 0;
    box-shadow: 7px 7px 7px rgba(0,0,0,0.5);
    border-radius: 15px;
}

.dados-pokemon {
    height: 330px;
    border-style: outset;
    background-color: darkslategray;
    color: white;
    margin: 5px;
    margin-top: 10px;
    position: relative;
    z-index: 1;
    border-radius: 15px;
}

.data {
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 2px;
}

.dots-topo {
    border-style: outset;

border-top: 0;
border-left: 0;
border-right: 0;
width: 300px;
border-radius: 40px;
}

.dot {
    height: 25px;
    width: 25px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    margin: 5px;
    border-style: outset;
}

.dot-azul {
    background-color: blue;
    margin-top: 20px;
    margin-left: 20px;
    height: 50px;
    width: 50px;
}

.dot-vermelho {
    background-color: red;
}

.dot-amarelo {
    background-color: yellow;
}

.dot-verde {
    background-color: green;
}

.pontos-do-lado-esquerdo {
    margin-top: 220px;
}

.b1 {
    margin-left: 64%;
}

.quadrado {
    width: 85px;
    height: 45px;
    background-color: steelblue;
    /* background-color: dodgerblue; */
    display: inline-block;
    margin: 0px;
    margin-top: 2px;
    border-radius: 20%;
    outline: none;
    font-size: 20px;
    
}

.quadrados {
    margin-left: 10px;
}

.q1 {
    margin-top: 5px;
}

